{% extends "layout.html" %}
{% block content %}
    <div class="col-sm-2"></div>
    <div class="col-sm-7">

    {% for e in form.errors %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ e }}</strong>: {{ form.errors[e] }}
        </div>
    {% endfor %}

        <h3>{% if form.id %}Редактировать #{{ form.name.data }}{% else %}Добавить тег{% endif %}</h3>
        <br />
        <form role="form" action="{% if form.id %}/tag/edit/{{ form.id.data }}{% else %}/tag/add{% endif %}"
              method="POST" name="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="name">Тег:</label>
                {{ form.name(size=60, maxlength=80, class_='form-control') }}
            </div>

            <div class="form-group">
                <label for="name_en">Перевод (англ.):</label>
                {{ form.name_en(size=60, maxlength=80, class_='form-control') }}
            </div>

            <div class="form-group">
                <label for="description">Описание:</label>
                {{ form.description(rows=20, class_='form-control') }}
            </div>

            <button type="submit" class="btn btn-default" style="margin-top: 1em;">{% if form.id %}Редактировать{% else %}Добавить{% endif %}</button>
        </form>
    </div>
{% endblock %}