{% extends "layout.html" %}
{% block content %}
    <div class="col-sm-2"></div>
    <div class="col-sm-7">
        {%- if goods %}
        <h3>Удалённые товары</h3>
        {% for good in goods %}
        {% set loop1 = loop %}
        {% include 'good-view.html' %}
        {% endfor %}
        {%- else -%}
        <h3>Удалённые товары отсутствуют</h3>
        {% endif -%}

        {%- if tags %}
        <h3>Удалённые теги</h3>
        <br/>
        {% for tag in tags %}
        {% set loop1 = loop %}
        {% include 'category-view.html' %}
        {% endfor %}
        <div style="clear: left">
            <br /><br />
        </div>
        {%- else -%}
        <h3>Удалённые теги отсутствуют</h3>
        {% endif -%}

        {%- if reviews %}
        <h3>Удалённые отзывы</h3>
        <br/>
        {% for review in reviews %}
        {% set loop1 = loop %}
            {%- include 'review-view.html' -%}
        {% endfor %}
        {%- else -%}
        <h3>Удалённые отзывы отсутствуют</h3>
        {% endif -%}
    </div>
{% endblock %}
