{% extends "layout.html" %}
{% block content %}
    <div class="col-sm-4">
        <a href="#" class="thumbnail">
            <img src="{{ good.image }}" class="img-rounded thumbnail" />
        </a>
    </div>
    <div class="col-sm-5" itemscope itemtype="http://schema.org/Product">
        <link itemprop="url" href="http://{{ request.host }}{{ request.path }}" />
        <link itemprop="image" href="/static/img/logo.png" />
        <link itemprop="logo" href="/static/img/logo.png" />
        <h3 itemprop="name">{{good.product}}
            {%- if good.name %} <nobr>&laquo;{{ good.name }}&raquo;</nobr>{% endif -%}
            {%- if good.deleted %} (удалено){% endif -%}
        </h3>
        <br />
        <p itemprop="description"><big>{% if good.description %}{{ good.description }}{% endif %}</big></p>
        <br />
        <h4 itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <span itemprop="price">{{ good.price }}</span>&nbsp;<span class="rub">руб.</span>
            <meta itemprop="priceCurrency" content="RUB">
        </h4>
        <br />
        <h4><a href="/category/{{good.category.name_en}}">#{{good.category.name|lower}}</a>{% if good.tags %} {% for tag in good.tags|shuffle %}{% if tag.deleted==False %}<a href="/tag/{{tag.name_en}}">#{{tag.name}}</a> {% endif %}{% endfor %}{% endif %}</h4>
        {% if session['logged_in'] %}
            <br />
            {%- if good.deleted %}
            <p><a class="btn btn-default" href="/good/restore/{{ good.name_en }}">Восстановить</a></p>
            {%- else -%}
            <p><a class="btn btn-default" href="/good/edit/{{ good.name_en }}">Редактировать &raquo;</a>
            <a class="btn btn-default" href="/good/delete/{{ good.name_en }}">Удалить</a></p>
            {% endif -%}
        {% endif %}
    {%- if see_also %}
        <br/>
        <div style="clear: left">
            <strong>Смотрите также:</strong>
            {%- for tag in see_also %}
                <a href="#descr-{{ tag.name_en }}" data-toggle="collapse">
                    <img src="/static/img/description.png" class="icon"/><strong>{{ tag.name }}</strong>
                </a>
                <div id="descr-{{ tag.name_en }}" class="collapse">
                    <br/>
                    <article>{{ tag.description|safe }}</article>
                    <br/>
                </div>
            {% endfor -%}
        </div>
    {% endif -%}

    </div>
{% endblock %}