<div class="row">
    <div class="col-sm-4"><a href="/good/{{ good.name_en }}"><img src="{{ good.image }}" class="img-rounded thumbnail" alt="{{ good.product }}" /></a><br /></div>
    <div class="col-sm-8">
        <span class="price">
            <h4>{{ good.price }}&nbsp;<span class="rub">руб.</span></h4>
        </span>
        <a href="/good/{{good.name_en}}">
            <h3>{{ good.product }}{% if good.name %} <nobr>&laquo;{{ good.name }}&raquo;</nobr>{% endif %}</h3>
        </a>
        <br />
        {% if good.description %}{{ good.description }}{% endif %}
        <br />
        <br />
        <p><a class="btn btn-default" href="/good/{{ good.name_en }}">Подробнее &raquo;</a>
        {%- if session['logged_in'] and good.deleted %}
        <a class="btn btn-default" href="/good/restore/{{ good.name_en }}">Восстановить</a>
        {% endif -%}
        </p>
    </div>
</div>
<div class="row">
    <div class="visible-sm visible-xs hidden-md hidden-lg">
        {% if not loop1.last %}    <hr /> {% endif %}
    </div>
</div>
