{% extends "layout.html" %}
{% block content %}
    <div class="col-sm-2"></div>
    <div class="col-sm-7">
        {% for good in goods %}
        {% set loop1 = loop %}
        {% include 'good-view.html' %}
        {% endfor %}
<script type='application/ld+json'> 
{
  "@context": "http://www.schema.org",
  "@type": "Organization",
  "name": "Ветка",
  "url": "http://vetkaparfum.ru/",
  "logo": "http://vetkaparfum.ru/static/img/logo.png",
  "description": "Натуральная домашняя косметика Ветка",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Нижний Новгород",
    "addressCountry": "Россия"
  },
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+7(909)294-00-94",
    "contactType": "sales"
  }
}
 </script>
    </div>
{% endblock %}
